/* CSS for options.html */

body {
    min-width: 340px;
    width: 100%;
    max-width: 100vw;
}

.clr-field {
    display: block;
}

.clr-field button {
    width: 24px;
    height: 24px;
    left: 10px;
    right: auto;
    border-radius: 5px;
}

.clr-field input {
    padding-left: 40px;
}
